#contact {
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#curriculum {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

#contact-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80vw;
  max-width: 500px;
  margin-bottom: 1rem;
}

#contact-id {
  display: flex;
  justify-content: center;
  width: 100%;
}

#contact-name {
  width: 100%;
}

#contact-email-expanded {
  width: 100%;
}

#contact-email-mobile {
  width: 100%;
  display: none;
}

#contact-message {
  width: 100%;
}

#social-media-icons {
  display: flex;
  justify-content: space-around;
}

mat-icon {
  height: 30px;
  width: 30px;
}

table {
  width: 100%;
}

@media only screen and (max-width: 600px) {
  #contact-email-expanded {
    display: none;
  }

  #contact-email-mobile {
    display: block;
  }
}
