<div id="project-list">
  <div id="projects-intro">
    <h2>{{ "MORE_PROJECTS.TITLE" | translate }}</h2>
    <p>{{ "MORE_PROJECTS.SUBTITLE" | translate }}</p>
  </div>

  <div id="projects">
    <mat-card class="project">
      <mat-card-title>{{
        "MORE_PROJECTS.PORTFOLIO.TITLE" | translate
      }}</mat-card-title>
      <mat-card-subtitle>{{
        "MORE_PROJECTS.PORTFOLIO.SUBTITLE" | translate
      }}</mat-card-subtitle>
      <mat-card-content
        >{{ "MORE_PROJECTS.PORTFOLIO.DESCRIPTION" | translate }}
      </mat-card-content>
      <mat-card-actions>
        <a
          href="https://github.com/Chudroy/portfolio-page"
          target="_blank"
          mat-flat-button
          color="primary"
          >GITHUB REPO</a
        >
      </mat-card-actions>
      <mat-chip-list>
        <mat-chip color="accent" selected>Angular</mat-chip>
        <mat-chip color="accent" selected>RxJS</mat-chip>
        <mat-chip color="accent">Node</mat-chip>
        <mat-chip color="accent">Express</mat-chip>
      </mat-chip-list>
    </mat-card>

    <mat-card class="project">
      <mat-card-title
        >{{ "MORE_PROJECTS.DOBBLE.TITLE" | translate }}
      </mat-card-title>
      <mat-card-subtitle>{{
        "MORE_PROJECTS.DOBBLE.SUBTITLE" | translate
      }}</mat-card-subtitle>
      <mat-card-content
        >{{ "MORE_PROJECTS.DOBBLE.DESCRIPTION" | translate }}
      </mat-card-content>
      <mat-card-actions>
        <a
          href="https://github.com/Chudroy/Github-Issue-Lister"
          target="_blank"
          mat-flat-button
          color="primary"
          >GITHUB REPO</a
        >
      </mat-card-actions>
      <mat-chip-list>
        <mat-chip color="accent" selected>Angular</mat-chip>
        <mat-chip color="accent" selected>NgRx</mat-chip>
        <mat-chip color="accent" selected>Nx</mat-chip>
        <mat-chip color="accent" selected>Github API</mat-chip>
      </mat-chip-list>
    </mat-card>

    <mat-card class="project">
      <mat-card-title>Point and Click</mat-card-title>
      <mat-card-subtitle
        >{{ "MORE_PROJECTS.POINT_AND_CLICK.SUBTITLE" | translate }}
      </mat-card-subtitle>
      <mat-card-content
        >{{ "MORE_PROJECTS.POINT_AND_CLICK.DESCRIPTION" | translate }}
      </mat-card-content>
      <mat-card-actions>
        <a
          href="https://github.com/Chudroy/Point-and-Click-Infrastructure"
          target="blank"
          mat-flat-button
          color="primary"
          >GITHUB REPO</a
        >
      </mat-card-actions>
      <mat-chip-list>
        <mat-chip color="accent" selected>Unity</mat-chip>
        <mat-chip color="accent" selected>C#</mat-chip>
      </mat-chip-list>
    </mat-card>

    <mat-card class="project">
      <mat-card-title>{{
        "MORE_PROJECTS.MEAN_TEMPLATE.TITLE" | translate
      }}</mat-card-title>
      <mat-card-subtitle>{{
        "MORE_PROJECTS.MEAN_TEMPLATE.SUBTITLE" | translate
      }}</mat-card-subtitle>
      <mat-card-content
        >{{ "MORE_PROJECTS.MEAN_TEMPLATE.DESCRIPTION" | translate }}
      </mat-card-content>
      <mat-card-actions>
        <a
          href="https://github.com/Chudroy/Blank-MEAN-Stack-Project-Template"
          target="_blank"
          mat-flat-button
          color="primary"
          >GITHUB REPO</a
        >
      </mat-card-actions>
      <mat-chip-list>
        <mat-chip color="accent" selected>Mongo</mat-chip>
        <mat-chip color="accent" selected>Express</mat-chip>
        <mat-chip color="accent" selected>Angular</mat-chip>
        <mat-chip color="accent" selected>Node</mat-chip>
      </mat-chip-list>
    </mat-card>

    <mat-card class="project">
      <mat-card-title>Prevellion</mat-card-title>
      <mat-card-subtitle>{{
        "MORE_PROJECTS.PREVELLION.SUBTITLE" | translate
      }}</mat-card-subtitle>
      <mat-card-content
        >{{ "MORE_PROJECTS.PREVELLION.DESCRIPTION" | translate }}
      </mat-card-content>
      <mat-card-actions>
        <a
          href="https://github.com/Chudroy/Gaugan-Automatic-Processing"
          target="_blank"
          mat-flat-button
          color="primary"
          >GITHUB REPO</a
        >
        <a
          href="https://www.youtube.com/watch?v=FElW6SWkP08"
          target="_blank"
          mat-flat-button
          color="primary"
          >YOUTUBE VIDEO</a
        >
      </mat-card-actions>
      <mat-chip-list>
        <mat-chip color="accent" selected>Python</mat-chip>
        <mat-chip color="primary">Gaugan</mat-chip>
      </mat-chip-list>
    </mat-card>

    <mat-card class="project">
      <mat-card-title>{{
        "MORE_PROJECTS.ALGORITHMIC_BOTANY.TITLE" | translate
      }}</mat-card-title>
      <mat-card-subtitle>{{
        "MORE_PROJECTS.ALGORITHMIC_BOTANY.SUBTITLE" | translate
      }}</mat-card-subtitle>
      <mat-card-content
        >{{ "MORE_PROJECTS.ALGORITHMIC_BOTANY.DESCRIPTION" | translate }}
      </mat-card-content>
      <mat-card-actions>
        <a
          href="https://github.com/Chudroy/Algorithmic-Botany"
          target="_blank"
          mat-flat-button
          color="primary"
          >GITHUB REPO</a
        >
        <a
          href="https://editor.p5js.org/Chudroy/sketches/mVIU2IB0Y"
          target="_blank"
          mat-flat-button
          color="primary"
          >P5JS SKETCH</a
        >
      </mat-card-actions>
      <mat-chip-list>
        <mat-chip color="accent" selected>P5.js</mat-chip>
      </mat-chip-list>
    </mat-card>
  </div>
</div>
