<div id="project-list">
  <div id="projects-intro">
    <h2>More Projects</h2>
    <p>Here's a bunch of other stuff that I've done</p>
  </div>

  <div id="projects">
    <mat-card class="project">
      <mat-card-title>This Website!</mat-card-title>
      <mat-card-subtitle>Website</mat-card-subtitle>
      <mat-card-content
        >This portfolio is a project of its own! To make this website, I decided
        to learn to use Angular and its dependency, RxJS, to make it.
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>GITHUB REPO</button>
      </mat-card-actions>
      <mat-chip-list>
        <mat-chip color="accent" selected>Express</mat-chip>
        <mat-chip color="accent" selected>Angular</mat-chip>
        <mat-chip color="accent" selected>Node</mat-chip>
        <mat-chip color="primary" selected>RxJS</mat-chip>
      </mat-chip-list>
    </mat-card>

    <mat-card class="project">
      <mat-card-title>Point and Click</mat-card-title>
      <mat-card-subtitle>Videogame Infrastructure </mat-card-subtitle>
      <mat-card-content
        >This project in the making consists of the necessary Infrastructure to
        implement a modern point and click videogame: 3D space navigation,
        usable objects, solvable puzzles, inventory system...
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>GITHUB REPO</button>
      </mat-card-actions>
      <mat-chip-list>
        <mat-chip color="accent" selected>Unity</mat-chip>
        <mat-chip color="accent" selected>C#</mat-chip>
      </mat-chip-list>
    </mat-card>

    <mat-card class="project">
      <mat-card-title>MEAN Stack Template</mat-card-title>
      <mat-card-subtitle>Project template</mat-card-subtitle>
      <mat-card-content
        >A fully functional project template to get a MEAN Stack project quickly
        up and running.
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>GITHUB REPO</button>
      </mat-card-actions>
      <mat-chip-list>
        <mat-chip color="accent" selected>Mongo</mat-chip>
        <mat-chip color="accent" selected>Express</mat-chip>
        <mat-chip color="accent" selected>Angular</mat-chip>
        <mat-chip color="accent" selected>Node</mat-chip>
      </mat-chip-list>
    </mat-card>

    <mat-card class="project">
      <mat-card-title>Prevellion</mat-card-title>
      <mat-card-subtitle>Music Video</mat-card-subtitle>
      <mat-card-content
        >I automated the process for the creation of an AI Generated video used
        for the music video of the song "Prevellion" by the funk pop group
        Withredd, using a python package to connect to the Gaugan AI website by
        Nvidia.
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>GITHUB REPO</button>
        <button mat-button>YOUTUBE VIDEO</button>
      </mat-card-actions>
      <mat-chip-list>
        <mat-chip color="accent" selected>Python</mat-chip>
        <mat-chip color="primary" selected>Gaugan</mat-chip>
      </mat-chip-list>
    </mat-card>

    <mat-card class="project">
      <mat-card-title>Dobble Generator</mat-card-title>
      <mat-card-subtitle>Website, Boardgame Generator</mat-card-subtitle>
      <mat-card-content
        >A website to create your own version of the popular boardgame Dobble,
        using custom images.
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>GITHUB REPO</button>
        <button mat-button>LIVE WEBSITE</button>
      </mat-card-actions>
      <mat-chip-list>
        <mat-chip color="accent" selected>P5.js</mat-chip>
        <mat-chip color="primary" selected>Node</mat-chip>
        <mat-chip color="primary" selected>Express</mat-chip>
      </mat-chip-list>
    </mat-card>

    <mat-card class="project">
      <mat-card-title>Algorithmic Botany</mat-card-title>
      <mat-card-subtitle>Creative Coding, Art Project</mat-card-subtitle>
      <mat-card-content
        >A procedural animation, consisting of the creation of a pattern
        commonly found in plants and flowers, calculated using the golden ratio.
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>GITHUB REPO</button>
        <button mat-button>P5JS SKETCH</button>
      </mat-card-actions>
      <mat-chip-list>
        <mat-chip color="accent" selected>P5.js</mat-chip>
      </mat-chip-list>
    </mat-card>
  </div>
</div>
