<div id="dialog-form">
  <h2 mat-dialog-title>{{ "CURRICULUM.HEADER" | translate }}</h2>

  <mat-dialog-actions>
    <a
      mat-flat-button
      href="https://www.canva.com/design/DAFKPzEDMZ8/UTGpHtDMujd_P8fO-71cbw/view?utm_content=DAFKPzEDMZ8&utm_campaign=designshare&utm_medium=link2&utm_source=sharebutton"
      target="_blank"
      color="accent"
    >
      {{ "CURRICULUM.ENG_BUTTON" | translate }}
    </a>

    <a
      mat-flat-button
      href="https://www.canva.com/design/DAFKO7yjZkM/9iNLwTpfE87j2vNk3rU1CA/view?utm_content=DAFKO7yjZkM&utm_campaign=designshare&utm_medium=link2&utm_source=sharebutton"
      target="_blank"
      color="accent"
    >
      {{ "CURRICULUM.ESP_BUTTON" | translate }}
    </a>
  </mat-dialog-actions>
</div>
