<div id="dialog-form">
  <h2 mat-dialog-title>{{ "CURRICULUM.HEADER" | translate }}</h2>

  <mat-dialog-actions>
    <a
      mat-flat-button
      href="https://drive.google.com/file/d/1HazwKp0sTiKuZaTYwDfdNmRfkpbCgOpV/view?usp=sharing"
      target="_blank"
      color="accent"
    >
      {{ "CURRICULUM.ENG_BUTTON" | translate }}
    </a>

    <a
      mat-flat-button
      href="https://drive.google.com/file/d/1KjRc_HpuVZEW5m6uotelnnmOsCpSVLYo/view?usp=sharing"
      target="_blank"
      color="accent"
    >
      {{ "CURRICULUM.ESP_BUTTON" | translate }}
    </a>
  </mat-dialog-actions>
</div>
