<div id="work" class="full-page">
  <div id="work-description">
    <h2>Work</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer id turpis
      ut sem cursus facilisis tempor vel eros. Curabitur fringilla non libero
      vel pellentesque. Phasellus semper ullamcorper pharetra. Nunc condimentum
      metus vel massa vehicula, eu consequat risus blandit. Orci varius natoque
      penatibus et magnis dis parturient montes, nascetur ridiculus mus. Duis
      sit amet velit pretium, scelerisque eros eget, vulputate lectus. Proin
      fermentum, mauris ac semper scelerisque, urna dolor commodo justo,
      dignissim luctus eros lectus id.
    </p>
  </div>

  <mat-tab-group>
    <mat-tab label="First"
      ><mat-card class="work-card">
        <mat-card-title>Shiba Inu</mat-card-title>
        <mat-card-subtitle>Dog Breed</mat-card-subtitle>
        <mat-card-content>
          <p>
            The Shiba Inu is the smallest of the six original and distinct spitz
            breeds of dog from Japan. A small, agile dog that copes very well
            with mountainous terrain, the Shiba Inu was originally bred for
            hunting.
          </p>
        </mat-card-content>
        <mat-divider inset></mat-divider>
        <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions>
        <mat-card-footer> </mat-card-footer>
      </mat-card>
    </mat-tab>
    <mat-tab label="Second">
      <mat-card class="work-card">
        <mat-card-title>Shiba Inu</mat-card-title>
        <mat-card-subtitle>Dog Breed</mat-card-subtitle>
        <mat-card-content>
          <p>
            The Shiba Inu is the smallest of the six original and distinct spitz
            breeds of dog from Japan. A small, agile dog that copes very well
            with mountainous terrain, the Shiba Inu was originally bred for
            hunting.
          </p>
        </mat-card-content>
        <mat-divider inset></mat-divider>
        <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions>
        <mat-card-footer> </mat-card-footer>
      </mat-card>
    </mat-tab>
    <mat-tab label="Third">
      <mat-card class="work-card">
        <mat-card-title>Shiba Inu</mat-card-title>
        <mat-card-subtitle>Dog Breed</mat-card-subtitle>
        <mat-card-content>
          <p>
            The Shiba Inu is the smallest of the six original and distinct spitz
            breeds of dog from Japan. A small, agile dog that copes very well
            with mountainous terrain, the Shiba Inu was originally bred for
            hunting.
          </p>
        </mat-card-content>
        <mat-divider inset></mat-divider>
        <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions>
        <mat-card-footer> </mat-card-footer>
      </mat-card>
    </mat-tab>
  </mat-tab-group>
</div>
