<div id="work">
  <div id="work-description">
    <h2>Work</h2>
    <p>
      Here's a showcase of some projects I'm proud of. Since first becoming
      interested in coding in 2020, I've explored a lot of different fields,
      trying to find what I have an affinity for and what I'm motivated by (and
      what I'm not! 😀). During this time, I've discovered design patterns and
      the SOLID principles, which I'm very interested in, and I've also learned
      a lot about structuring the code of a project.
    </p>
    <p>
      At the same time, I've dived into data structures and algorithms,
      balancing the study of computer science fundamentals with project based
      learning. Currently, I'm challenging myself to learn new concepts using
      just documentation, without courses, to try and maximize learning
      efficiency, and to become independent of tutorials and courses as much as
      possible (i.e: escaping tutorial hell).
    </p>
  </div>

  <div id="projects">
    <h2 id="projects-title">Highlighted Projects</h2>
    <mat-tab-group mat-align-tabs="center">
      <mat-tab label="Web Development">
        <mat-card class="work-card">
          <div mat-card-image id="web-dev-bg" class="img-bg">
            <img
              class="work-card-img"
              src="../../assets/neighbourhood_website_thumbnail.png"
              alt="neighbourhood_website_thumbnail"
            />
          </div>
          <mat-card-title>Bilbao Barrios</mat-card-title>
          <mat-card-subtitle
            >Dedicated to the neighbourhoods of central
            Bilbao</mat-card-subtitle
          >
          <mat-card-content>
            <p>
              A forum aimed towards connecting the citizens of where I currently
              live: Bilbao, Basque Country. A user can create a post linked to a
              specific neighbourhood, and filter posts by neighbourhood or the
              encompassing district. This website contains all features for a
              fully functional, secure website.
            </p>
          </mat-card-content>
          <mat-divider inset></mat-divider>
          <mat-card-actions>
            <button mat-button>GITHUB REPO</button>
            <button mat-button>LIVE WEBSITE</button>
          </mat-card-actions>
          <mat-chip-list
            ><mat-chip color="accent" selected>Mongo</mat-chip>
            <mat-chip color="accent" selected>Express</mat-chip>
            <mat-chip color="accent" selected>Node</mat-chip>
            <mat-chip color="accent" selected>Mongoose</mat-chip>
            <mat-chip color="primary" selected>Heroku</mat-chip>
            <mat-chip color="primary" selected>Cloudinary</mat-chip>
            <mat-chip color="primary" selected>Helmet.js</mat-chip>
            <mat-chip color="primary" selected>EJS</mat-chip>
          </mat-chip-list>
        </mat-card>
      </mat-tab>
      <mat-tab label="Game Development">
        <mat-card class="work-card">
          <div mat-card-image id="game-dev-bg" class="img-bg">
            <img
              class="work-card-img"
              src="../../assets/GET Inside.jpeg"
              alt="neighbourhood_website_thumbnail"
            />
          </div>
          <mat-card-title>Get Inside</mat-card-title>
          <mat-card-subtitle>2D Horror Shooter</mat-card-subtitle>
          <mat-card-content>
            <p>
              Get Inside was my first indie video-game. Everything in this game
              was made by me, except for the music and concept art. The
              objective is to make it to your home, traversing isolated villages
              in a heavily forested area, while being attacked by paranormal
              entities.
            </p>
          </mat-card-content>
          <mat-divider inset></mat-divider>
          <mat-card-actions>
            <button mat-button>GITHUB REPO</button>
            <button mat-button>PLAY</button>
          </mat-card-actions>
          <mat-chip-list
            ><mat-chip color="accent" selected>Unity</mat-chip>
            <mat-chip color="accent" selected>C#</mat-chip>
            <mat-chip color="accent" selected>Aseprite</mat-chip>
          </mat-chip-list>
        </mat-card>
      </mat-tab>
      <mat-tab label="Creative Coding">
        <mat-card class="work-card">
          <div mat-card-image id="creative-coding-bg" class="img-bg">
            <img
              class="work-card-img"
              src="../../assets/creative coding thumbnail.png"
              alt="neighbourhood_website_thumbnail"
            />
          </div>
          <mat-card-title>Particle Attraction</mat-card-title>
          <mat-card-subtitle>Particle Simulations</mat-card-subtitle>
          <mat-card-content>
            <p>
              Procedurally Generated animation using the
              <a href="https://p5js.org/"> P5.js </a>
              library. Semi-translucent particles are attracted to gravitational
              focal points, producing surprisingly complex symmetrical imagery.
            </p>
          </mat-card-content>
          <mat-divider inset></mat-divider>
          <mat-card-actions>
            <button mat-button>GITHUB REPO</button>
            <button mat-button>P5JS SKETCH</button>
            <button mat-button>INSTAGRAM POST</button>
          </mat-card-actions>
          <mat-chip-list
            ><mat-chip color="accent" selected>P5.js</mat-chip>
          </mat-chip-list>
        </mat-card>
      </mat-tab>
      <mat-tab label="Art">
        <mat-card class="work-card">
          <div mat-card-image id="art-bg" class="img-bg">
            <img
              class="work-card-img"
              src="../../assets/thomas_attractor.png"
              alt="neighbourhood_website_thumbnail"
            />
          </div>
          <mat-card-title>Strange Attractors</mat-card-title>
          <mat-card-subtitle>3D Mathematical models</mat-card-subtitle>
          <mat-card-content>
            <p>
              A Collection of ~17
              <a href="https://en.wikipedia.org/wiki/Attractor"
                >Strange Attractors</a
              >
              made using Math Nodes in Blender, subsequently used in the art for
              the boardgame
              <a
                href="https://boardgamegeek.com/boardgame/344575/outside-beyond-scp-facilities"
                >Outside: Beyond the SCP facilities (2022)</a
              >
              and for video animations of my own personal creation, also.
            </p>
          </mat-card-content>
          <mat-divider inset></mat-divider>
          <mat-card-actions>
            <button mat-button>GITHUB REPO</button>
            <button mat-button>INSTAGRAM POST</button>
          </mat-card-actions>
          <mat-chip-list
            ><mat-chip color="accent" selected>Blender</mat-chip>
            <mat-chip color="accent" selected
              >Animation Nodes</mat-chip
            ></mat-chip-list
          >
        </mat-card>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
