#work {
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

#work-description {
  width: 80vw;
  max-width: 800px;
  text-align: justify;
}

#projects {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

#web-dev-bg {
  background: url("../../assets/blurred/neighbourhood_website_thumbnail blurred.jpg");
  background-position: center;
  background-size: cover;
}

#game-dev-bg {
  background: url("../../assets/blurred/GET Inside blurred.jpg");
  background-position: center;
  background-size: cover;
}

#creative-coding-bg {
  background: url("../../assets/blurred/creative coding thumbnail blurred.jpg");
  background-position: center;
  background-size: contain;
}

#art-bg {
  background: url("../../assets/blurred/thomas_attractor blurred.jpg");
  background-position: center;
  background-size: contain;
}

.work-card {
  width: 80vw;
  max-width: 800px;
  display: flex;
  flex-direction: column;
}

.img-bg {
  display: flex;
  justify-content: center;
}

.work-card-img {
  max-height: 300px;
  width: auto;
  align-self: center;
}

mat-tab-group {
  display: flex;
  align-items: center;
}

h2 {
  text-align: center;
}
