<div id="work">
  <div id="work-description">
    <h2>{{ "WORK.TITLE" | translate }}</h2>
    <p>{{ "WORK.DESCRIPTION.P1" | translate }}</p>
    <p>
      {{ "WORK.DESCRIPTION.P2" | translate }}
    </p>
  </div>

  <div id="projects">
    <h2 id="projects-title">{{ "HIGHLIGHTED.TITLE" | translate }}</h2>
    <mat-tab-group mat-align-tabs="center">
      <mat-tab [label]="'HIGHLIGHTED.WEB_DEV.TITLE' | translate">
        <mat-card class="work-card">
          <div mat-card-image id="web-dev-bg" class="img-bg">
            <img
              class="work-card-img"
              src="../../assets/neighbourhood_website_thumbnail.png"
              alt="neighbourhood_website_thumbnail"
            />
          </div>
          <mat-card-title>Bilbao Barrios</mat-card-title>
          <mat-card-subtitle>{{
            "HIGHLIGHTED.WEB_DEV.SUBTITLE" | translate
          }}</mat-card-subtitle>
          <mat-card-content>
            <p>
              {{ "HIGHLIGHTED.WEB_DEV.DESCRIPTION" | translate }}
            </p>
          </mat-card-content>
          <mat-divider inset></mat-divider>
          <mat-card-actions>
            <a
              mat-button
              href="https://github.com/Chudroy/Bilbao-Barrios"
              target="_blank"
              >GITHUB REPO</a
            >
            <a
              href="https://bilbao-barrios.herokuapp.com/"
              mat-button
              target="_blank"
            >
              {{ "HIGHLIGHTED.WEB_DEV.WEBSITE_BUTTON" | translate }}</a
            >
          </mat-card-actions>
          <mat-chip-list
            ><mat-chip color="accent" selected>Mongo</mat-chip>
            <mat-chip color="accent" selected>Express</mat-chip>
            <mat-chip color="accent" selected>Node</mat-chip>
            <mat-chip color="accent" selected>Mongoose</mat-chip>
            <mat-chip color="primary" selected>Heroku</mat-chip>
            <mat-chip color="primary" selected>Cloudinary</mat-chip>
            <mat-chip color="primary" selected>Helmet.js</mat-chip>
            <mat-chip color="primary" selected>EJS</mat-chip>
          </mat-chip-list>
        </mat-card>
      </mat-tab>
      <mat-tab [label]="'HIGHLIGHTED.GAME_DEV.TITLE' | translate">
        <mat-card class="work-card">
          <div mat-card-image id="game-dev-bg" class="img-bg">
            <img
              class="work-card-img"
              src="../../assets/GET Inside.jpeg"
              alt="neighbourhood_website_thumbnail"
            />
          </div>
          <mat-card-title>Get Inside</mat-card-title>
          <mat-card-subtitle>{{
            "HIGHLIGHTED.GAME_DEV.SUBTITLE" | translate
          }}</mat-card-subtitle>
          <mat-card-content>
            <p>
              {{ "HIGHLIGHTED.GAME_DEV.DESCRIPTION" | translate }}
            </p>
          </mat-card-content>
          <mat-divider inset></mat-divider>
          <mat-card-actions>
            <a
              href="https://github.com/Chudroy/Get-Inside"
              target="_blank"
              mat-button
              >GITHUB REPO</a
            >
            <a
              href="https://play.unity.com/mg/other/get-inside-finished"
              target="_blank"
              mat-button
            >
              {{ "HIGHLIGHTED.GAME_DEV.PLAY_BUTTON" | translate }}</a
            >
          </mat-card-actions>
          <mat-chip-list
            ><mat-chip color="accent" selected>Unity</mat-chip>
            <mat-chip color="accent" selected>C#</mat-chip>
            <mat-chip color="accent" selected>Aseprite</mat-chip>
          </mat-chip-list>
        </mat-card>
      </mat-tab>
      <mat-tab label="Creative Coding">
        <mat-card class="work-card">
          <div mat-card-image id="creative-coding-bg" class="img-bg">
            <img
              class="work-card-img"
              src="../../assets/creative coding thumbnail.png"
              alt="neighbourhood_website_thumbnail"
            />
          </div>
          <mat-card-title>Particle Attraction</mat-card-title>
          <mat-card-subtitle
            >{{ "HIGHLIGHTED.CREATIVE_CODING.SUBTITLE" | translate }}
          </mat-card-subtitle>
          <mat-card-content>
            <p
              [innerHTML]="
                'HIGHLIGHTED.CREATIVE_CODING.DESCRIPTION' | translate
              "
            ></p>
          </mat-card-content>
          <mat-divider inset></mat-divider>
          <mat-card-actions>
            <a
              mat-button
              href="https://github.com/Chudroy/Gravitational-Attraction"
              target="_blank"
              >GITHUB REPO</a
            >
            <a
              mat-button
              href="https://editor.p5js.org/Chudroy/sketches/t6W4l5w7k"
              target="_blank"
              >P5JS SKETCH</a
            >
            <a
              mat-button
              href="https://www.instagram.com/p/COiRtvaqs7k/?utm_source=ig_web_copy_link"
              target="_blank"
            >
              INSTAGRAM POST
            </a>
          </mat-card-actions>
          <mat-chip-list
            ><mat-chip color="accent" selected>P5.js</mat-chip>
          </mat-chip-list>
        </mat-card>
      </mat-tab>
      <mat-tab [label]="'HIGHLIGHTED.ART.TITLE' | translate">
        <mat-card class="work-card">
          <div mat-card-image id="art-bg" class="img-bg">
            <img
              class="work-card-img"
              src="../../assets/thomas_attractor.png"
              alt="neighbourhood_website_thumbnail"
            />
          </div>
          <mat-card-title>Strange Attractors</mat-card-title>
          <mat-card-subtitle>{{
            "HIGHLIGHTED.ART.SUBTITLE" | translate
          }}</mat-card-subtitle>
          <mat-card-content>
            <p [innerHTML]="'HIGHLIGHTED.ART.DESCRIPTION' | translate"></p>
          </mat-card-content>
          <mat-divider inset></mat-divider>
          <mat-card-actions>
            <a
              mat-button
              href="https://drive.google.com/drive/folders/19JMqf1qW8T1ymEqFjQ7wXLm2bG3m6BmV?usp=sharing"
              target="_blank"
              >{{ "HIGHLIGHTED.ART.BLENDER" | translate }}
            </a>
            <a
              href="https://www.instagram.com/p/CNTDF3JnHEN/?utm_source=ig_web_copy_link"
              target="_blank"
              mat-button
              >INSTAGRAM POST</a
            >
          </mat-card-actions>
          <mat-chip-list
            ><mat-chip color="accent" selected>Blender</mat-chip>
            <mat-chip color="accent" selected
              >Animation Nodes</mat-chip
            ></mat-chip-list
          >
        </mat-card>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
