<mat-toolbar color="primary">
  <div fxShow="true" fxHide.gt-sm="true">
    <button mat-icon-button (click)="toggle()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <span>Portfolio</span>
  <span class="example-spacer"></span>
  <div fxShow="true" fxHide.lt-md="true">
    <button
      [routerLink]="['about']"
      routerLinkActive="active"
      mat-icon-button
      class="example-icon"
      aria-label="Example icon-button with menu icon"
    >
      <mat-icon>account_circle</mat-icon>
    </button>
    <button
      [routerLink]="['work']"
      routerLinkActive="active"
      mat-icon-button
      class="example-icon favorite-icon"
      aria-label="Example icon-button with heart icon"
    >
      <mat-icon>work</mat-icon>
    </button>
    <button
      [routerLink]="['contact']"
      routerLinkActive="active"
      mat-icon-button
      class="example-icon"
      aria-label="Example icon-button with share icon"
    >
      <mat-icon>contacts</mat-icon>
    </button>
  </div>
</mat-toolbar>
