// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

/* For use in src/lib/core/theming/_palette.scss */
/* For use in src/lib/core/theming/_palette.scss */
$grey-palette: (
  50: #ebebeb,
  100: #cccdcd,
  200: #abacab,
  300: #898a89,
  400: #6f7170,
  500: #565857,
  600: #4f504f,
  700: #454746,
  800: #3c3d3c,
  900: #2b2d2c,
  A100: #8af38a,
  A200: #5cef5c,
  A400: #19ff19,
  A700: #00fe00,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$green-palette: (
  50: #f9fdf6,
  100: #effae9,
  200: #e5f7db,
  300: #dbf4cc,
  400: #d3f1c1,
  500: #cbefb6,
  600: #c6edaf,
  700: #beeba6,
  800: #b8e89e,
  900: #ace48e,
  A100: #ffffff,
  A200: #ffffff,
  A400: #ffffff,
  A700: #fbfff9,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$light-primary: mat.define-palette($grey-palette);
$light-accent: mat.define-palette($green-palette);
$light-warn: mat.define-palette(mat.$red-palette);

$light-theme: mat.define-light-theme(
  (
    color: (
      primary: $light-primary,
      accent: $light-accent,
      warn: $light-warn,
    ),
  )
);

// Define a dark theme

// $dark-primary: mat.define-palette(mat.$pink-palette);
// $dark-accent: mat.define-palette(mat.$blue-grey-palette);

$dark-primary: mat.define-palette($grey-palette);
$dark-accent: mat.define-palette($green-palette);
$dark-warn: mat.define-palette(mat.$red-palette);

$dark-theme: mat.define-dark-theme(
  (
    color: (
      primary: $dark-primary,
      accent: $dark-accent,
      warn: $dark-warn,
    ),
  )
);

@include mat.all-component-themes($dark-theme);

.my-light-theme {
  @include mat.all-component-themes($light-theme);
}
