#about-me {
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

#about-img {
  max-height: 300px;
  width: auto;
}

#about-card {
  max-width: 500px;
  text-align: justify;
}
