#about-me {
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

#about-img-top {
  display: none;
}

#about-img-side {
  max-width: 500px;
  height: auto;
}

#about-card {
  max-width: 600px;
  text-align: justify;
}

@media only screen and (max-width: 975px) {
  #about-img-side {
    display: none;
  }
  #about-img-top {
    display: block;
  }
}
