<div id="about-me" class="full-page">
  <img
    id="about-img"
    mat-card-image
    src="../../assets/puppy-development.jpg"
    alt=""
  />
  <mat-card id="about-card">
    <mat-card-title>About</mat-card-title>
    <mat-card-subtitle>You can call me Nick</mat-card-subtitle>
    <mat-card-content>
      <p>
        Full stack developer, videogame developer, English teacher, artist,
        generally curious about everything. Born in London, UK, I've lived in
        Bilbao since I was 12. I studied Fine Arts at University, and and fell
        in love with creative coding. Since then, I've gone to study front end,
        back end, video game development and machine learning, while working as
        an English teacher. At this point, my favourite art form is code.
      </p>
    </mat-card-content>
  </mat-card>
</div>
