<div id="about-me" class="full-page">
  <img
    id="about-img-side"
    mat-card-image
    src="../../assets/puppy-development.jpg"
    alt=""
  />
  <mat-card id="about-card">
    <img
      id="about-img-top"
      mat-card-image
      src="../../assets/puppy-development.jpg"
      alt=""
    />
    <mat-card-title>{{ "ABOUT.TITLE" | translate }}</mat-card-title>
    <mat-card-subtitle>{{ "ABOUT.SUBTITLE" | translate }}</mat-card-subtitle>
    <mat-card-content>
      <p>
        {{ "ABOUT.DESCRIPTION" | translate }}
      </p>
    </mat-card-content>
  </mat-card>
</div>
