#about-me {
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

#about-img-top {
  display: none;
}

#about-img-side {
  max-height: 450px;
  width: auto;
  border-radius: 5%;
}

#about-card {
  width: 450px;
  text-align: justify;
}

@media only screen and (max-width: 975px) {
  #about-img-side {
    display: none;
  }
  #about-img-top {
    display: block;
    max-height: 450px;
    width: auto;
  }
  #about-card {
    margin: 3rem;
    width: min-content;
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
  }
}
